.container {
    display:flex;
    flex-direction: column;
    justify-content: start;
    border:1px #ccc solid;
    border-radius: 15px;  
    padding:50px;
    width: 45%;
    max-width: 1200px;
    margin: 150px auto;
}

h1 {
    margin-top:0;
}

#task-form{
    display:flex;
    flex-direction: column;
    padding-top:25px;
    justify-content: start;

    & input{
        padding: .375rem .75rem;
        font-size: 1rem;    
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #ccc;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        width:250px;
    }

    & input[type="checkbox"]{
        width:20px;
    }

    &  label {
        width:100px; 
    }

    & button{
        width:120px;
    }
}

.form-control-container{
    display:flex;
    justify-content: start;
    margin:15px 0;
}


